{% extends 'base.html.twig' %}

{% block body %}
    <h1>Abonnee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonnee.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ abonnee.name }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ abonnee.phone }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ abonnee.cin }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if abonnee.dateDebut %}{{ abonnee.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if abonnee.dateFin %}{{ abonnee.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('abonnees_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('abonnees_edit', { 'id': abonnee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
